In [ ]:
Q1
database is a organised collection of structured or non-structured data stored in a computer eletronically.
SQL - structured Query language . data is in a structured way. example - mySQL,MSSQL,Oracle

NOSQL - NOT ONLY STRUCTURED QUERY LANGUAGE . In this language we can store images as well in a database.
example - MongoDb

In [ ]:
Q2
DDl - stands for Data Defination Language.
DDl is a computer language which helps us to create and modify the structure of database in database.

CREATE - is used to create an database or a table
example - CREATE DATABASE Mydata; #database creation
          CREATE TABLE Mydata.mydata_table(); #table breation in database mydata
    
DROP - is used to delete databese or a table.
example - DROP Mydata.mydata_table; #table mydata_table will be deleted present in a Mydata.

ALERT TABLE - Is used to ADD , delete and modify columns the existing table.
ALTER TABLE table_name
ADD column_name datatype;

TRUNCATE TABLE - command deletes the data inside a table, but not the table itself.
example- TRUNCATE TABLE mydata_table;

In [ ]:
Q3
DML-Data Manupulation Language. DML reperesents a programming language neede to make changes in a database.

INSERT - used to insert values in a table.
example - insert values("srishti",23,"Kolkata")

UPDATE - used modify the existing table or make changes in a table.
UPDATE mydata_table
SET C1 = 23
WHERE C2 = "kolkata";

DELETE - used to delete a row in a table with a specific condition.
DELETE C1 WHERE C2="kolkata";

In [ ]:
Q4
DQL - stands for Data Query Lanaguage. DQL is a portion of a SQL 
statement that allows you to get and organise data from a database.

Select * from mydata_table where C1>23; #this will print all the rows whose C1 values is greater then 23.

In [ ]:
Q5
Primary key is a Unique key and has always as a unique value in all rows of a table. This key cannot be Null.
example- create table mydata_table(
               reg_id int PRIMARY KEY;
                )

foreign key is used to etablish a link between two tables.
CREATE TABLE order(
    orderid int primary key
    orderid FOREIGN KEY REFRENCES mydata_table(reg_id);
)

In [ ]:
#Q6
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor = mydb.excecute("SHOW DATABASE")
for x in mycursor:
    print(x)

In [ ]:
#Q7
from
where
group by
having
select
oeder by
limit